<ion-header>
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid><ion-row><ion-col>
    <div *ngIf="!error" class="vediocapture">
      <video class="vcapture" #video id="video" [width]="WIDTH" [height]="HEIGHT" autoplay></video>
    </div>
    
    <div class="snap-container">
      <ion-button size="small" (click)="stopCamera()">Stop Stream</ion-button>
      <ion-button size="small" (click)="starCamera()">Sart Stream </ion-button>
      <ion-button size="small" (click)="loadImageDetection()">Sart Detection</ion-button>
    
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
    </div>
    
    <hr>
    <button type="button" class="btn btn-primary" style="font-size: 15px;">Total Objects Detected - <span class="badge"
        style="font-size: 15px;">{{totalObjectsDetected}}</span></button>
    &nbsp;&nbsp;
    <span class="badge" *ngIf="dataLoading" style="font-size: 18px;color:sienna">object detection started Please
      wait...</span>
    <hr>
    
    <div class="snap-container" style="margin-top: 20px;">
      <table>
        <tr>
          <th>Detected Object</th>
          <th>Score</th>
        </tr>
        <tr *ngFor="let predictionValues of predictionValue">
          <td>{{predictionValues.class}}</td>
          <td>{{predictionValues.score}}</td>
        </tr>
      </table>
    </div>
  </ion-col></ion-row></ion-grid>
</ion-content>
